<%= form_tag rconcepts_path do %>
Query:  <%= text_field_tag 'query' %>
<%= submit_tag 'save'%>
<%end%>

<h1><%= @query %></h1>


<% @data.each do |concept| %>
  <%= formatted_concept(concept) %>.</br>
<%end%>


<div id="gallery">
	<ul>
	<% @photos.each do |photo| %>
	<li>
		<a href ="<%= FlickRaw.url(photo) %>" title=<%= photo.title %> >
			<%= image_tag FlickRaw.url(photo), :size => "80x80"%>
		</a>
	</li>
	<%end%>
	</ul>
</div>
